body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fafafa;
    font-family: 'Garamond', serif;
}

#book {
    position: relative;
    width: 1200px;
    height: 1200px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #f4ecd8;
}

.page {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fdf5e6;
    color: #333;
    font-family: 'Garamond', serif;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.page.show {
    display: block;
}

.content {
    padding: 60px 40px;
    text-align: center;
}

.book-content{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.title{
    font-size: 100px;
    font-family: Brush Script MT, Brush Script Std, cursive
}

.button {
    position: absolute;
    top: 97%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #e7d9b1;
    border-radius: 50%;
    border: 2px solid #d3c4a4;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #6b3a1e;
}

.button:hover {
    background-color: #d3c4a4;
}

.button.next {
    right: 10px;
}

.button.prev {
    left: 10px;
}

/* linegraph styling */
.tooltip {
    position: absolute;
    padding: 10px;
    background: rgba(255, 247, 230, 0.9);
    border: 1px solid #d3c4a4;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: #5a3e2b;
    pointer-events: none;
    z-index: 9999;
}

.axis path,
.axis line {
    stroke: #5a3e2b;
}

.axis text {
    fill: #5a3e2b;
    font-family: 'Merriweather', serif;
}


#linegraph-div svg {
    overflow: visible;
}

.glow {
    filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.8));
}

.pieLegend{
    width: 300px;
    border: 8px solid gray;
    height: 100px;
    margin: 20px;
}

p{
    font-size: larger;
}

/* end linegraph styling */